    .forms{ 
    margin-top: 55px;
    background-color: rgb(176, 197, 197);
    padding: 20px;
    }
    input {
    margin-top: 10px;
    box-shadow: 1px 1px 2px rgb(248, 246, 246);
   
    }
    label {
    margin-top: 10px;
    }
    .btn{
    display: flex;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    }
    .warning{
    margin-left: 30%;
    }
    
    