nav{
    background-color: rgba(224, 238, 238, 0.726);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 20px;
    }
    div{
        display: flex;
    }
  
    
   
    
    
    